body{
}
.primary_background{

    background: #673ab7!important;
}
.supportive_background{

    background: #ede7f6!important;
}
.color{
    color: white;
}

.supportive_color{

    color: #673ab7;
}
.border{

    color: #673ab7;
}





